#Print
Perintah ini akan mencetak tulisan yang ada di dalam tanda print(‚Äù ‚Äù) atau
print(‚Äô ‚Äô).

In [1]:
print("Hello World")

Hello World

In [2]:
print('Badanku terasa gatal')

Badanku terasa gatal

#Variabel

In [3]:
saldo = 250000
print(saldo)

250000

In [4]:
spesies = "mamalia"
print(spesies)

mamalia

Jenis-jenis penulisan variabel yang paling umum digunakan di py


*   Camel Case
*   Snake Case
* Pascal Case

In [5]:
namaDepan = "Ucup" #camel case
nama_depan = "Ucup" #snake case
NamaDepan = "Ucup" #pascal case

# Tipe Data Bawaan

Terdapat tiga tipe data pada Python yaitu:

* Number
* Boolean
* String

In [6]:
# Number

#int
a = 10
print(a, "bertipe", type(a))

#float
b = 1.7
print(b, "bertipe", type(b))

#complex
c = 1+2j
print(c, " Bertipe bilangan kompleks? ", isinstance(1+2j,complex))

10 bertipe <class 'int'>
1.7 bertipe <class 'float'>
(1+2j)  Bertipe bilangan kompleks?  True

In [7]:
#Boolean

boolean = True
type(boolean)

bool

In [8]:
# String

stringTunggal = "Ini adalah string baris tunggal"

stringGanda = '''Ini adalah string
yang memiliki baris pertama
dan selanjutnya baris kedua'''

print(stringGanda)

Ini adalah string
yang memiliki baris pertama
dan selanjutnya baris kedua

# I/O Python

## Output print

In [9]:
print('hai {}'.format('bro'))

hai bro

In [10]:
nama = "bro"
print("Halo, %s!" % nama)

Halo, bro!

## Input > input()

In [11]:
nilai = input('Masukkan angka : ')
print(nilai)

Masukkan angka : 90
90

Secara default, input dari user adalah string (walaupun pada contoh di atas, 90 sebenarnya dimaksudkan sebagai integer) yang ditandai dengan petik. Untuk itu diperlukan fungsi konversi, misalnya int() dan float().

In [12]:
print(int(nilai))

90

In [13]:
print(float(nilai))

90.0

In [14]:
print(int('90+10'))

ValueError: ignored

Catatatan kaki : Jika input merupakan string berisi ekspresi matematika, maka konversi dengan int() atau float() akan menghasilkan error, dapat menggunakan fungsi eval() yang sekaligus juga berfungsi menyelesaikan ekspresi matematika

In [15]:
print(eval('90+10'))

100

# Formatted String

Formatted string digunakan untuk mempermudah penulisan nilai variabel yang
ingin dicetak pada perintah print.

tanpa f-string üòü

In [20]:
catGermany ='stardenburdenhardenbart'
catAussie = 'push-push-push'
print("Pemilik kucing manggil kucingnya di Australi : " + catAussie + " :>")

Pemilik kucing manggil kucingnya di Australi : push-push-push :>

dengan f-string üòé

In [19]:
print(f"Pemilik kucing manggil kucingnya di jerman : {catGermany} '_'")

Pemilik kucing manggil kucingnya di jerman : stardenburdenhardenbart '_'